body{
    background-color: #52A5E0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: black;
}

.header{
    align-items: flex-end;
    width: 60vw;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    margin: 5vh 6vh 10vh 6vh;
}

.txt_default, .txt_title {
    color:black;
}

.txt_title{
    font-size: 16pt;
}

.logo_ong{
    width:75px;
    height:75px;
    border-radius: 50%;
    
}

#profile{
    text-align: center;
    
}

.flexed, .list_items{
    display: flex;
    align-items: flex-start;
    margin: 10vh 6vh 10vh 6vh;
}


form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
    border-style: none;
    border-radius: 5px;
    margin: 0px 8px 10px 8px;
}

.bt_text{
    text-align: center;
    color: black;
    padding: 0 2px 0 2px;
    font-size: 14pt;
}

input[type=submit], input[type=reset], input[type=file]{
    margin: 0px 5px 0px 5px;
    height:5.3vh;
    border-radius:3px;
    border-style: none;
    font-size: 14pt;
}
input[type=text], input[type=date], input[type=time], select{
    width:20vw;
    height:5vh;
    font-size: 14pt;
    border-style: none;
    border-radius:3px;

}
input[type=date], input[type=time]{
    width:auto;
}

input[type=checkbox], input[type=radio]{
    transform: scale(1.5);
    margin: 0px 10px 0px 10px;
}

.filtros{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.div_filtros{
    display:flex;
    align-items:center;
    margin: 5px 0px 5px 0px;
}

.publi_item{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    background-color: white;
    margin: 0 10px 0 10px;
    padding: 5px 10px 5px 10px;
}
.publi_text{
    width:45%;
    flex-grow: 2;
    word-wrap: break-word;
}
.publi_date{
    width:45%;
    flex-grow: 1;
    text-align: right;
}

#div_form_requisicao input[type=text]{
    width:3ch;
    height:3ch;
    text-align: center;
    overflow: hidden;
    
}
form div{
    margin-bottom: 10px;
    margin-top: 20px;
    
}